@import './variables';
.first-view {
    width: 100%;
    // height: 220px;
    overflow: hidden;
    background-color: $primaryColor;
    border-radius: 0 0 10px 10px;
    padding: 1.5rem 0;
    position: relative;
    #bg {
        height: 100%;
        object-fit: contain;
        position: absolute;
        left: 0;
        z-index: 0;
        top: 0;
        transform: rotateY(180deg);
        opacity: 0.5;
    }
    .inner-content {
        width: 300px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        h1 {
            color: #fff;
        }
        .search-menu {
            width: 100%;
            input[type=text] {
                font-family: IRANSansWeb;
                border: unset;
                width: calc(100% - 2rem);
                padding: 1rem;
                font-size: 1rem;
                background-color: $primaryDarkColor;
                text-align: right;
                color: #fff;
                // border-bottom: 1px solid #eee;
                // border-radius: 4px;
                margin: 0.2rem auto 1.2rem;
                border-radius: 10px;
                &::placeholder {
                    /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: #fff;
                }
                &:focus {
                    outline: unset;
                }
            }
            .filters {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .btn-icon {
                    padding: 1rem;
                    border-radius: 10px;
                    background-color: $primaryDarkColor;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    // width: 30%;
                    justify-content: center;
                    cursor: pointer;
                    img {
                        width: 18px;
                        height: 18px;
                        object-fit: contain;
                        margin-left: 10px;
                        filter: invert(1);
                    }
                    .title {
                        color: #fff;
                    }
                }
                .other-scale {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .first-view {
        .inner-content {
            width: 560px;
            .search-menu {
                width: 100%;
                .filters {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .first-view {
        .inner-content {
            width: 680px;
            .filters {
                .btn-icon {
                    // width: max-content;
                    padding: 0.7rem;
                }
                .other-scale {
                    display: flex !important;
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .first-view {
        .inner-content {
            width: 900px;
            .search-menu {
                width: 70%;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .first-view {
        .inner-content {
            width: 1100px;
            .search-menu {
                width: 60%;
            }
        }
    }
}