@font-face {
    font-family: IRANSansWeb;
    font-style: normal;
    font-weight: bold;
    src: url('./fonts/IRANSansWeb(FaNum)_Bold.ttf') format('ttf');
    /* All Major Browsers */
}

@font-face {
    font-family: IRANSansWeb;
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/IRANSansWeb(FaNum)_Medium.ttf') format('ttf');
    /* All Major Browsers */
}

@font-face {
    font-family: IRANSansWeb;
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/IRANSansWeb(FaNum)_Light.ttf') format('ttf');
    /* All Major Browsers */
}

@font-face {
    font-family: IRANSansWeb;
    font-style: normal;
    font-weight: 200;
    src: url('./fonts/IRANSansWeb(FaNum)_UltraLight.ttf') format('ttf');
    /* All Major Browsers */
}

@font-face {
    font-family: IRANSansWeb;
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/IRANSansWeb(FaNum).ttf') format('ttf');
    /* All Major Browsers */
}