@import './variables';
header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 5px #33333320;
    height: 60px;
    // overflow: hidden;
    #header {
        width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        .logo-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            img {
                width: 50px;
                height: 50px;
                margin-left: 10px;
            }
            span {
                font-weight: bold;
                color: $primaryColor;
            }
        }
        .menu-container {
            ul {
                display: none;
                flex-direction: row;
                align-items: center;
                li {
                    margin-right: 1rem;
                    color: #999;
                    cursor: pointer;
                    img {
                        width: 24px;
                        height: 24px;
                        margin-left: 10px;
                    }
                    &:last-child {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                }
            }
            .login {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: #999;
                cursor: pointer;
                img {
                    width: 24px;
                    height: 24px;
                    margin-left: 10px;
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    header {
        #header {
            width: 560px;
        }
    }
}

@media only screen and (min-width: 768px) {
    header {
        #header {
            width: 680px;
        }
    }
}

@media only screen and (min-width: 992px) {
    header {
        #header {
            width: 900px;
            .menu-container {
                ul {
                    display: flex;
                }
                .login {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    header {
        #header {
            width: 1100px;
        }
    }
}