@import './fonts.scss';
body {
    margin: 0;
    direction: rtl;
    font-family: IRANSansWeb, //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    //   sans-serif;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}