@import './variables';
main {
    width: 300px;
    margin: 0 auto;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .main-side {
        width: 100%;
        .breadcrumbs {
            ul {
                display: flex;
                flex-direction: row;
                margin-bottom: 1.5rem;
                li {
                    color: #888;
                    margin-left: 0.7rem;
                    cursor: pointer;
                }
            }
        }
        .card {
            padding: 1.5rem;
            width: calc(100% - 3rem);
            border-radius: 10px;
            // height: 200px;
            box-shadow: 0 0 3px #00000030;
            margin-bottom: 1.5rem;
            .content {
                height: auto;
                width: 100%;
                display: flex;
                // justify-content: space-between;
                flex-direction: column;
                align-items: center;
                position: relative;
                .corner-badg {
                    position: relative;
                    top: 0;
                    left: 0;
                    font-size: 12px;
                    margin-bottom: 0.7rem;
                    .star {
                        font-size: 1.3rem;
                        margin-left: 7px;
                        color: $primaryDarkColor;
                    }
                }
                img {
                    height: 100%;
                    width: 80px;
                    border-radius: 80px;
                    background-color: $primaryColor;
                    margin-left: 0;
                    margin-bottom: 0.7rem;
                }
                .txt {
                    // height: ;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;
                    .suggest {
                        background-color: $primaryDarkColor;
                        border-radius: 20px;
                        color: #fff;
                        padding: 0 0.7rem;
                        margin-left: 10px;
                        font-size: 10px;
                    }
                    .verify-badg {
                        width: 1rem;
                        height: 1rem;
                        background-color: $primaryColor;
                        margin-left: 10px;
                        border-radius: 50%;
                    }
                    h2 {
                        font-size: 1rem;
                        margin: 0;
                    }
                    .number {
                        color: $primaryDarkColor;
                        margin-left: 7px;
                        font-size: 13px;
                    }
                    .title {
                        color: #8d6abb;
                        font-size: 13px;
                    }
                }
            }
            .line {
                width: 100%;
                border-top: 1px solid #ddd;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                margin: 1.5rem 0;
                .container {
                    position: absolute;
                    .icon {
                        width: 1.5rem;
                        height: 1.5rem;
                        border: 5px solid #fff;
                        background-color: #eee;
                        border-radius: 50%;
                    }
                }
            }
        }
        .multi-btn-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .spacer {
                width: 2rem;
                height: 1.5rem;
            }
        }
        .btn-container {
            width: 100%;
            text-align: center;
            .btn {
                width: 100%;
                padding: 0.7rem 0;
                border-radius: 10px;
                cursor: pointer;
            }
            p {
                margin: 0.5rem 0;
            }
        }
        .btn-context {
            color: #888;
        }
        .btn-context-green {
            color: $greenColor;
        }
        .btn-context-darkcyan {
            color: $darkCyanColor;
        }
        .btn-green {
            color: #fff;
            background-color: $greenColor;
        }
        .btn-green-outline {
            color: $greenColor;
            border: $greenColor 2px solid;
        }
        .btn-darkcyan {
            color: #fff;
            background-color: $darkCyanColor;
        }
        .btn-darkcyan-outline {
            color: $darkCyanColor;
            border: $darkCyanColor 2px solid;
        }
    }
    .side-bar {
        width: 30%;
        display: none;
        position: relative;
        #ads {
            // position: sticky;
            top: 2rem;
            width: 100%;
            height: 300px;
            background-color: #ddd8f8;
            border-radius: 10px;
            margin-bottom: 1.5rem;
        }
        #map {
            position: sticky;
            top: 2rem;
            width: 100%;
            height: 300px;
            background-color: $primaryDarkColor;
            border-radius: 10px;
        }
    }
}

@media only screen and (min-width: 600px) {
    main {
        width: 560px;
        .main-side {
            width: 100%;
            .card {
                .content {
                    height: 80px;
                    flex-direction: row;
                    .corner-badg {
                        position: absolute;
                        margin-bottom: 0.7rem;
                    }
                    img {
                        height: 100%;
                        width: 80px;
                        border-radius: 80px;
                        background-color: $primaryColor;
                        margin-left: 10px;
                        margin-bottom: 0;
                    }
                    .txt {
                        .suggest {
                            font-size: 14px;
                        }
                        .verify-badg {
                            width: 1.4rem;
                            height: 1.4rem;
                        }
                        h2 {
                            font-size: 1.2rem;
                            margin: 0;
                        }
                        .number {
                            color: $primaryDarkColor;
                            margin-left: 7px;
                            font-size: 16px;
                        }
                        .title {
                            color: #8d6abb;
                            font-size: 16px;
                        }
                    }
                }
            }
            .multi-btn-container {
                flex-direction: row;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    main {
        width: 680px;
        .main-side {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 992px) {
    main {
        width: 900px;
        .main-side {
            width: 70%;
        }
        .side-bar {
            width: 26%;
            display: block;
        }
    }
}

@media only screen and (min-width: 1200px) {
    main {
        width: 1100px;
        .main-side {
            width: 60%;
        }
        .side-bar {
            width: 30%;
            display: block;
        }
    }
}